*{
    margin: 0;
    padding: 0;
}
image{
    width: 100%;
    height: auto;
    display: block;
}
.main-section{
    background-image: url("images/project.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px auto;

}
.container{
    width: 90%;
    margin: auto;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 15%;
}
.manu{
    width: 75%;
}
.manu ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.manu ul li a{
    color: #FFF;
    display: block;
    padding: 0px 20px;
    text-decoration: none;
}
.manu ul li a::after{
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: transparent;
}
.manu ul li a:hover::after{
    background-color: palevioletred;
}
.manu-icon{
    display: none;
}
.manu-icon span{
    color: #FFF;

}
/* End to top section */

.middle{
    width: 45%;
}
.middle h1{
    font-size: 50px;
    color: #FFF;
    line-height: 1em;
    margin-bottom: 25px;

    
}
.middle a{
    border: 1px solid palevioletred;
    text-decoration: none;
    color: #FFF;


}